{% extends 'portfolio/layout.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block main %}
    <section class="section bd-container" id="news">
        <div class="news-heading">
            <h1>LABORATÓRIOS</h1>
        </div>

        <div class="news-container">
            {% for labs in lab %}
            <div class="news-box labs">
                <h2><a href="{{ labs.link }}">{{ labs.titulo }}</a></h2>
                <p>{{ labs.descricao }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block footer %}
    <section class="footer section">
        <div class="footer__container">
            <p class="footer__copy">UNIVERSIDADE LUSÓFONA - ENGENHARIA INFORMÁTICA</p>
            <p>Today is: <span id="date"></span></p>
            <p class="footer__copy">&#169; 2023 Joana Okica. All rights reserved</p>
        </div>
    </section>
{% endblock %}